{% extends "CarnetCarBundle::layout.html.twig" %}

{% block title %}
	Ajouter une vidange - {{ parent() }}
{% endblock %}

{% block car_body %}
	
	<h2>Ajouter une vidange</h2>

	{{ include("CarnetCarBundle:Vidange:form.html.twig") }}

	<p>
		<a href="{{ path('carnet_car_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'accueil
		</a>

	</p>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			$('.js-datepicker').datepicker({
				format: 'yyyy-mm-dd',
				firstDay: 1,
				showAnim: 'blind'
			});
		});
	</script>
{% endblock %}